<!DOCTYPE html>
<html>
  <head>
    <title>Location Score</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="script.js"></script>

    <!-- <script src="js/models/location.js"></script> -->

  </head>
  <body>
    <div class="sidebar">

    {{#if currentUser}}
    <p><button id="logout" class="userauth"><a href="/logout">Log out</a></button></p>
    {{else}}
       <p><button id="openLogin" class="userauth">Log in</button></p>
       <p><button id="openSignup" class="userauth">Sign up</button></p>
    {{/if}}
    </div>

    <div id="loginPopup" class="authPopup">
     <form method="post" action="/login">
        <div class="form-group">
          <p>Log In:</p>
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email">
        </div>

        <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" type="password" name="password" id="password">
        </div>

        <input class="btn btn-default" type="submit">
      </form>
    </div>

    <div id="signupPopup" class="authPopup">
      <form method="post" action="/signup">
        <div class="form-group">
          <p>Sign Up:</p>
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email">
        </div>

        <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" type="password" name="password" id="password">
        </div>

        <input class="btn btn-default" type="submit">
      </form>
    </div>

    <div id="map">
    </div>
  </body>
</html>
