

body {
  margin:0; padding:0;
}

#map {
  position:absolute; top:0; bottom:0; width:100%;
}

path {
  stroke-opacity: 0;
}

.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
  height: 90%;
  border: 25px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 9999;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    right: auto;
    width: 100%;
    height: 300px;
    margin: 0;
  }

  #map {
    position:relative; top:0; bottom:0; height: 500px; width:100%;
  }
}
