

body {
  margin:0; padding:0;
}

#map {
  position:absolute; top:0; bottom:0; width:100%;
}

path {
  stroke-opacity: 0;
}

.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
  height: 90%;
  border: 25px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 998;
}

.authPopup {
  padding: 10px 10px 35px;
  background-color: grey;
  display: none;
  position: absolute;
  margin-left: 20%;
  border: 1px solid black;
  height: 60px;
  margin-top: 5%;
  z-index: 9500;
}

button > a {
  text-decoration: none;
  color: black;
}

p {
    margin: 10px;
}

.userauth {
  height: 30px;
  width: 70px;
  font-family: verdana;
  border-radius: 5px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.close {
  /*margin-left: 200px;*/
  float: right;
}

.selected {
  font-weight: bold;
}

button:hover {
  font-style: italic;
}

.alert {
  color: red;
  padding: 5px;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    135deg,
    rgba(255, 33, 81, 0.9),
    rgba(255, 119, 41, 0.9)
    ),
    url(http://i.imgur.com/TXARe9C.jpg);
  z-index: 9999;
}

.overlay > h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #FFF;
  text-transform: lowercase;
  letter-spacing: 5px;
  letter-spacing: -1vmin;
  font-size: 40px;
  font-size: 25vmin;
  text-align: center;
  line-height: 80vh;
  margin-top: 75px;
  margin-top: 2vmin;
  text-shadow: -5px 5px 0px rgba(255, 33, 81, 1),
               -10px 10px 0px rgba(255, 33, 81, 0.8),
               -15px 15px 0px rgba(255, 33, 81, 0.5);
}

.distancemeasurements {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 35%;
  border: 25px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 9000;
}


#popup {
  display: none;
}
